/* Reduce sidebar width */
.wrapper__sidebar {
  width: 300px !important;
}

.wrapper__main {
  max-width: none !important;
  width: calc(100% - 300px) !important;
  margin-right: 0 !important;
}

/* Keep header aligned even when sidebar is hidden */
.wrapper__main--fullscreen {
  margin-left: 300px !important; /* same as sidebar width */
  width: calc(100% - 300px);
}
.wrapper__main--fullscreen .post {
  max-width: 800px; /* adjust: 700–900px */
  margin-right: auto;
  width: 100%;
}
